:root {
  --primary-color: #f57f17;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto !important;
  max-width: 1280px !important;
  width: 92% !important;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h3 {
  margin-bottom: 4rem;
}

.showcase {
  position: relative;
  height: 100vh;
}

.showcase__content {
  z-index: 10;
}

.showcase__content h2 {
  z-index: 50;
}

.showcase-content__tagline {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}
.showcase-content__btn {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.showcase__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("https://promar-shipping.s3.me-south-1.amazonaws.com/showcase-bg.png") no-repeat center center;
  z-index: -3;
}

.showcase__video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.showcase__video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.showcase__logo {
  width: 150px;
}

.showcase__content + h2 {
  margin-bottom: 2rem !important;
}

.our-service {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.our-service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: #f5f5f5;
  z-index: -2;
}

li.active {
  border-bottom: 5px solid var(--primary-color);
  background-color: transparent !important;
}

.about-us {
  position: relative;
  background-size: cover;
  z-index: 1;
  padding-top: 2rem;
}

.about-us h3 {
  margin-bottom: 2rem;
  margin-top: 0;
}

.about-us__p {
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.about-us__cover img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.about-us__cover {
  padding: 0 !important;
}

.our-affiliation {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.qhse {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.qhse::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #f5f5f5;
}

.qhse h3 {
  margin-bottom: 1rem;
}

.qhse h5 {
  margin-bottom: 3rem;
}

.qhse__p p {
  margin: 3px;
}

.correct__circle {
  stroke-dasharray: 1670.681640625;
  stroke-dashoffset: 1670.681640625;
  fill: #fbb040;
  stroke: #f57f20;
  stroke-width: 40px;
  animation-name: correct;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.correct__check {
  stroke-dasharray: 1670.681640625;
  stroke-dashoffset: 1670.681640625;
  fill: none;
  stroke: #f57f20;
  stroke-linecap: round;
  stroke-width: 50px;
  animation-name: correct;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes correct {
  to {
    stroke-dashoffset: 0;
  }
}

.nav-list__footer {
  padding: 0.6rem;
  background: grey;
}

.sidenav {
  display: flex;
  flex-direction: column;
}

.sidenav li:nth-last-child(2) {
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* label color */
.input-field label {
  color: #616161 !important;
}
/* label focus color */
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field textarea:focus + label {
  color: var(--primary-color) !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field textarea:focus {
  border-bottom: 1px solid var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--primary-color) !important;
}
/* valid color */
.input-field input[type="text"].valid,
.input-field input[type="email"].valid {
  border-bottom: 1px solid var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--primary-color) !important;
}
/* invalid color */
.input-field input[type="text"].invalid,
.input-field input[type="email"].invalid {
  border-bottom: 1px solid var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--primary-color) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: var(--primary-color) !important;
}

input,
select,
textarea {
  color: grey;
}

.scrolldown {
  padding-top: 60px;
}
.scrolldown span {
  position: absolute;
  bottom: -50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 2px solid #bdbdbd;
  border-bottom: 2px solid #bdbdbd;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.footer-copyright a {
  padding-left: 2rem;
}

.footer__page-links li {
  transition: all 500ms;
}

.footer__page-links li:hover {
  padding-left: 1rem;
  text-decoration: underline;
}

.fleets-slides,
.fleets-slides__psv,
.fleets-slides__fcb {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.fleets-slides .card {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.fleets-slides .card .slick-next::before, .slick-prev::before,
.fleets-slides__psv .card .slick-next::before, .slick-prev::before,
.fleets-slides__fcb .card .slick-next::before, .slick-prev::before
 {
    color: var(--primary-color);
}

.slick-slide {
  opacity: .5;
  outline: none;
}


.slick-center {
  display: block;
  opacity: 1;

}